[attr]delta text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4

* text=auto eol=lf
*.rs delta diff=rust
Cargo.lock linguist-generated=false

# Older git versions try to fix line endings on images and fonts, this prevents it.
*.png binary
*.jpg binary
*.gif binary